# Ignore Python bytecode and cache
*.pyc
__pycache__/

# Ignore FAISS index and pickle files
*.pkl

# Ignore virtual environments
venv/
backend/venv/

# Ignore node modules
node_modules/

# Ignore system files
.DS_Store

# Ignore secrets
.env
